<section id="experience">
    <div class="title-section">
        <div>
            <h2 class="title" data-text="EXPERIENCE">EXPERIENCE</h2>
        </div>
    </div>
    <div class="infos-section">
        <p>
            I like challenges, I get out of my comfort zone and work harder. I have fun in areas that I like such as video games or 3D. In this way, I have been able to make very stimulating projects.
        </p>
    </div>
    <div class="subTitle-section">
        <h3>My Recent Work</h3>
    </div>
    <div id="boxes-experience">
        <div class="box-experience">
            <div class="imgbox">
                <picture>
                    <source type="image/png" srcset="<%%= projects.project_1.images.png.path_miniature %>">
                    <img loading="lazy" class="project-image" src="<%%= projects.project_1.images.webp.path_miniature.src %>" alt="<%%= projects.project_1.images.webp.path_miniature.alt %> " width="512" height="512">
                </picture>
                <a name="link_project_newtspell" href="/newtspell">
                    <div class="btn-project-details">
                        <p>En savoir plus</p>
                    </div>
                </a>
                <div class="tittle-project">
                    <p>Portfolio • 3D Artist</p>
                </div>
            </div>
            <div class="tagsbox">
                <div class="tag">
                    <span>Typescript</span>
                </div>
                <div class="tag">
                    <span>ThreeJS</span>
                </div>
                <div class="tag">
                    <span>NextJS</span>
                </div>
            </div>
            <div class="content-card-experience">
                <h3>Portfolio • 3D Artist</h3>
                <p>
                    An order of a creative website for the portfolio of a Houdini artist. 
                    The artist’s intention is to invite visitors to explore a universe dedicated to his works. 
                    With a important task of optimization and SEO. 
                </p>
            </div>
        </div>
        <div class="box-experience">
            <div class="imgbox">
                <picture>
                    <source type="image/png" srcset="<%%= projects.project_2.images.png.path_miniature %>">
                    <img loading="lazy" class="project-image" src="<%%= projects.project_2.images.webp.path_miniature.src %>" alt="<%%= projects.project_2.images.webp.path_miniature.alt %>" width="512" height="512">
                </picture>
                <a name="link_project_clone_mixamo" href="/clone_mixamo">
                    <div class="btn-project-details">
                        <p>En savoir plus</p>
                    </div>
                </a>
                <div class="tittle-project">
                    <p>Clone • Mixamo</p>
                </div>
            </div>
            <div class="tagsbox">
                <div class="tag">
                    <span>Javacsript</span>
                </div>
                <div class="tag">
                    <span>ThreeJS</span>
                </div>
                <div class="tag">
                    <span>ExpressJS</span>
                </div>
            </div>
            <div class="content-card-experience">
                <h3>Clone • Mixamo</h3>
                <p>
                    A personal project with the objective of cloning the Mixamo website, an animation sharing platform for 3D models. 
                    The challenge was to approach advanced concepts of the animation system of Threejs and make a retargeting.
                </p>
            </div>
        </div>
        <div class="box-experience">
            <div class="imgbox">
                <picture>
                    <source type="image/png" srcset="<%%= projects.project_3.images.png.path_miniature %>">
                    <img loading="lazy" class="project-image" src="<%%= projects.project_3.images.webp.path_miniature.src %>" alt="<%%= projects.project_3.images.webp.path_miniature.alt %>" width="512" height="512">
                </picture>
                <a name="dev_ops_project" href="/dev_ops">
                    <div class="btn-project-details">
                        <p>En savoir plus</p>
                    </div>
                </a>
                <div class="tittle-project">
                    <p>Game • Dev & Ops</p>
                </div>
            </div>
            <div class="tagsbox">
                <div class="tag">
                    <span>Typescript</span>
                </div>
                <div class="tag">
                    <span>PhaserJS</span>
                </div>
                <div class="tag">
                    <span>NodeJS/socket.io</span>
                </div>
            </div>
            <div class="content-card-experience">
                <h3>Game • Dev & Ops</h3>
                <p>
                    A personal project to create a 2D platformer entirely made with PhaserJS.
                    The idea is to offer a solution to companies that want to gamify their recruitment process.
                </p>
            </div>
        </div>
    </div>

</section>