<section id='presentation'>
    <div id='content-presentation'>
        <i class="fas fa-hand-spock spock-icon" id="icon-hand-first"></i>
        <blockquote >
            <p>
                Hi, I’m <span>Isabelle</span>! A <span>front-end developer</span>, passionate and appreciate UX design. Always on the lookout for a mission freelance or an opportunity in an awesome project 🚀.
                It’s a pleasure for me to present my portfolio to you! I wanted to highlight my skills but especially all my universe. So you can see that I love travelling, the nature, the Tech with a capital T, the agile software development, the data science, the development of blockchain, the gaming, the art (NFT) and the owls 🦉.
            </p>
        </blockquote>
        <i class="fas fa-hand-spock spock-icon" id="icon-hand-second"></i>
        <div class="border-presentation" id="cube-1"></div>
        <div class="border-presentation" id="cube-2"></div>
    </div>
</section>