<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta name="description" content="This is my portfolio, which describes my skills as a web developer and blockchain enthusiast. And I offer my services as a front-end and freelance.">
    <title>Iza-Dev</title>
    <link rel="icon" href="assets/favicon_io/favicon-iza.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id='wrapper'>
        <div id="menu-burger" class="burger">
            <span id="span-menu-burger"></span>
        </div>
        <div class="sidebar" id='wrapper-sidebar'>
            <div id='content-sidebar'>
                <%- include partials/header -%>
                <%- include partials/infos-contact -%> 
            </div>
        </div>
        <div id="container">
            <div id="second-bg-on-top"></div>
            <div id="img-avatarInJungle">
                <picture>
                    <source type="image/webp" media="(max-width: 1025px)" srcset="assets/images/900/avatar_jungle_Layer_2_900.webp">
                    <source type="image/webp" media="(max-width: 2560px)" srcset="assets/images/2750/avatar_jungle_Layer_2_2750.webp">
                    <img loading="lazy" id="layer_2" class='img-avatar' src='assets/images/2750/avatar_jungle_Layer_2_2750.png' alt="Avatar" title="Avatar au milieu d'un jardin">
                </picture>
                <picture>
                    <source type="image/webp" media="(max-width: 1025px)" srcset="assets/images/900/avatar_jungle_Layer_1_900.webp">
                    <source type="image/webp" media="(max-width: 2560px)" srcset="assets/images/2750/avatar_jungle_Layer_1_2750.webp">
                    <img loading="lazy" id="layer_1" class='img-avatar' src='assets/images/2750/avatar_jungle_Layer_1_2750.png' alt="Avatar" title="Avatar au milieu d'un jardin">
                </picture>
                    <h1 id="main-title">portfolio</h1>
                <picture>
                    <source type="image/webp" media="(max-width: 1025px)" srcset="assets/images/900/avatar_jungle_Layer_0_900.webp">
                    <source type="image/webp" media="(max-width: 2560px)" srcset="assets/images/2750/avatar_jungle_Layer_0_2750.webp">
                    <img loading="lazy" id="layer_0" class='img-avatar' src='assets/images/2750/avatar_jungle_Layer_0_2750.png' alt="Avatar" title="Avatar au milieu d'un jardin">
                </picture>
                <div id="gradient-linear"></div>
            </div>
            <div id="bg-presentation"></div>
            <main id='wrapper-content'>
                <%- include sections/presentation -%>
                <%- include sections/expertise -%>
                <%- include sections/experience -%>
                <%- include sections/contact -%>
            </main>
            <%- include partials/footer -%>
        </div>

    </div> 
</body>
</html>