<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta name="description" content="Presentation of my web project that I carried out as part of a freelance mission or as a personal project, as a front-end developer.">
  <title>Project - <%%= project.title %></title>
  <link rel="icon" href="assets/favicon_io/favicon-iza.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div id="container-big-picture">
  <picture>
    <source type="image/webp" media="(max-width: 1025px)" srcset="<%%= project.images.webp.path_main_900 %>">
    <source type="image/webp" media="(max-width: 2560px)" srcset="<%%= project.images.webp.path_main_2750 %>">
    <img id="big-picture-project" src="<%%= project.images.png.path_main_2750%>" alt="<%%= project.images.webp.path_main_2750.alt %>">
  </picture>
  <a name="link_header_project" href="#header-project">
    <div id="scroll-down"></div>
  </a>
  <header id="header-project">
    <div>
      <h1><%%= project.title %> </h1>
      <a name="link_experience" href="/#experience">
        <i id="icon-return" class="fas fa-reply"></i>
      </a>
      <ol>
        <li><a name="home_page" href="/">Home</a></li>
        <li><a name="link_experience" href="/#experience"> <span> &#128293 </span> Other projects <span> &#128293 </span></a></li>
      </ol>
    </div>
  </header>
</div>
<main id="content-project-details">
  <section id="infos-resume">
    <div id="sub-title-project">
      <h2><%%= project.subTitle %> </h2>
    </div>
    <div id="infos-project">
      <div id="container-infos-project">
        <div id='title-infos-project'>
          <h3>Project information</h3>
        </div>
        <ul>
          <li><strong>Category</strong>: <%%= project.project_information.category %></li>
          <li><strong>Client</strong>: <%%= project.project_information.client %></li>
          <li><strong>Project date</strong>: <%%= project.project_information.project_date %></li>
          <li><strong>Project URL</strong>: <a name="url_recent_work" href="<%%= project.project_information.project_url %>"><%%= project.project_information.project_url %></a></li>
          <li><strong>Repo</strong>: <a name="link_gitlab" href="<%%= project.project_information.project_gitlab %>">Gitlab</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section id="text-presentation-project">
    <p>
      <%%= project.text %>
    </p>
    <h4>Stack :</h4>
    <ul>
      <%% for(var stack in project.stacks){ %>
        <li><%%= project.stacks[stack] %> </li>
      <%% } %> 
    </ul>
  </section>
  <section id="slide-show-project"> 
    <carousel>
      <input type="radio" id="img1cb" checked name="images" />
      <input type="radio" id="img2cb" name="images" />
      <input type="radio" id="img3cb" name="images" />
      <div id="img1" class="wrapper-label">
        <label for="img1cb" title="first image">
          <picture>
            <source type="image/png" srcset="<%%= project.images.png.path_1%>">
            <img loading="lazy" src="<%%= project.images.webp.path_1.src %>" alt="<%%= project.images.webp.path_1.alt %>" width="512" height="512">
          </picture>
        </label>
      </div>
      <div id="img2" class="wrapper-label">
        <label for="img2cb" title="second image">
          <picture>
            <source type="image/png" srcset="<%%= project.images.png.path_2%>">
            <img loading="lazy"src="<%%= project.images.webp.path_2.src %>" alt="<%%= project.images.webp.path_2.alt %>" width="512" height="512">
          </picture>
        </label>
      </div>
      <div id="img3" class="wrapper-label">        
        <label for="img3cb" title="third image">
          <picture>
            <source type="image/png" srcset="<%%= project.images.png.path_3%>">
            <img loading="lazy" src="<%%= project.images.webp.path_3.src %>" alt="<%%= project.images.webp.path_3.alt %>" width="512" height="512">
          </picture>
        </label>
      </div>
    <carousel>
  </section>
</main>
<%- include partials/footer -%>
</body>
</html>