<footer class="<%%= class_footer %>">
    <div>
        <span> &#127833 </span>	

        <a name="link_legal_notice" href="/">
            <p>Legal Notice</p>
        </a>
        •
        <p>Portfolio</p>

        <span> &#129374 </span>
    </div>
    <p id="copyright">copyright ©2021</p>
</footer>